/* custom styles in slides */

/* cover video */
.slide.cover { background:#000; }
.slide.cover video { display:block; position:absolute; top:5%; left:5%; width:90%; height:90%; }

/* iframe */
.slide iframe {
	display:block; position:absolute; top:80px; left:calc(50% - 340px); width:680px; height:calc(100% - 160px);
	border:0; border-radius: 2px;
	box-shadow: 0 2px 8px 0 rgba(0,0,0,0.15), 0 6px 24px 3px rgba(0,0,0,0.05);
}

/* gaga */
.gaga {
	display: block;
	width: 150px;
	height: auto;
	margin: 2em auto 0 auto;
	border-radius: 50%;
	-webkit-transform-origin: center;
	transform-origin: center;
/*	-webkit-transition: opacity 0.3s;
	transition: opacity 0.3s;*/
	opacity: 0;
}
.gaga.animated {
	-webkit-animation-name: rotateIn;
	-webkit-animation-duration: 5s;
	-webkit-animation-timing-function: ease-out;
	animation-name: rotateIn;
	animation-duration: 5s;
	animation-timing-function: ease-out;
	opacity: 1;
}

/* animations */
@-webkit-keyframes rotateIn {
	0%   { -webkit-transform: translate(-2000px) rotateZ(-1800deg); }
	90%  { -webkit-transform: translate(10px) rotateZ(12deg); }
	100% { -webkit-transform: none; }
}
@keyframes rotateIn {
	0%   { transform: translate(-2000px) rotateZ(-1800deg); }
	90%  { transform: translate(10px) rotateZ(12deg); }
	100% { transform: none; }
}
