/* iframe */
.slide.full iframe.puntersDesktop {
	position: relative;
	top:0; left:0;
	width:100%; height:100%;
	border:0; border-radius: 0;
	-webkit-box-shadow: none;
	box-shadow: none;
}

/* brand logo on cover */
#pc-brand-logo {
	width: 240px;
	height: auto;
	margin: -40px 0 0 0;
}

/* media view */
.mediaView img {
	display: block;
	width: auto;
	height: auto;
	margin: 0 auto;
	max-width: 100%;
}

/* punters four image */
.puntersFour {
	display: block;
	width: 100%;
	height: auto;
}
